In [3]:
import numpy as np

In [4]:
arreglo_numeros = np.array([1,2,3])
print(arreglo_numeros)

[1 2 3]

In [13]:
np.zeros((3,4))
np.zeros((3))
np.zeros((3,2,2,))
np.zeros((2,2))

array([[0., 0.],
       [0., 0.]])

In [11]:
np.ones((5))
np.ones((5,3))
np.ones((2,3,4))

array([[[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]],

       [[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]]])

In [18]:
print(np.empty((3,2)))
print(np.zeros((3,4,2)))
print(np.empty((5)))

[[0. 0.]
 [0. 0.]
 [0. 0.]]
[[[0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]]]
[1. 1. 1. 1. 1.]

In [20]:
print(np.eye(4))
print(np.eye(5))

[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]
[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

In [26]:
print(np.arange(12))
print(np.arange(3,50))
print(np.arange(4,20,2))

[ 0  1  2  3  4  5  6  7  8  9 10 11]
[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26
 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]
[ 4  6  8 10 12 14 16 18]

In [28]:
arreglo_dimension = np.array([(1,2,3),(4,5,6)])
arreglo_dimension.shape

(2, 3)

In [32]:
np.arange(12).reshape(6,2)

array([[ 0,  1],
       [ 2,  3],
       [ 4,  5],
       [ 6,  7],
       [ 8,  9],
       [10, 11]])

In [35]:
print(np.ones_like(np.arange(6).reshape(3,2)))
print(np.ones_like(np.arange(3)))

[[1 1]
 [1 1]
 [1 1]]
[1 1 1]

In [38]:
np.arange(24).reshape(6,2,2)

array([[[ 0,  1],
        [ 2,  3]],

       [[ 4,  5],
        [ 6,  7]],

       [[ 8,  9],
        [10, 11]],

       [[12, 13],
        [14, 15]],

       [[16, 17],
        [18, 19]],

       [[20, 21],
        [22, 23]]])

In [45]:
np.arange(10000)
np.arange(10000).reshape(100,10,10)
np.arange(1000)

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
       572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
       598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
       611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623,
       624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636,
       637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649,
       650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662,
       663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675,
       676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688,
       689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701,
       702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714,
       715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727,
       728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740,
       741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753,
       754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766,
       767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779,
       780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792,
       793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805,
       806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818,
       819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831,
       832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844,
       845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857,
       858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870,
       871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883,
       884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896,
       897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909,
       910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922,
       923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935,
       936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948,
       949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961,
       962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974,
       975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987,
       988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999])

In [46]:
# Sumas
a = np.array([10,10,10])
b = np.array([5,5,5])
print(a + b)

[15 15 15]

In [48]:
# Resta
print(a-b)

[5 5 5]

In [49]:
# Multiplicacion
print(a*b)

[50 50 50]

In [50]:
# Division
print(a/b)

[2. 2. 2.]

In [56]:
# Operaciones
arreglo_diez_ocho = np.arange(18)
print(arreglo_diez_ocho / 2 )
print(arreglo_diez_ocho % 3 )

[0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5 5.  5.5 6.  6.5 7.  7.5 8.  8.5]
[0 1 2 0 1 2 0 1 2 0 1 2 0 1 2 0 1 2]

In [58]:
# Expresiones
print(arreglo_diez_ocho > 9)

[False False False False False False False False False False  True  True
  True  True  True  True  True  True]

In [72]:
# Multiplicacion de Varias dimensiones
A = np.arange(4).reshape(2,2)
print(A)
B = np.arange(4,8).reshape(2,2)
print(B)

A < B

[[0 1]
 [2 3]]
[[4 5]
 [6 7]]

array([[ True,  True],
       [ True,  True]])

In [94]:
# Multiplicacion dot
A.dot(B)
oli = np.arange(4).reshape(2,2)
np.dot(A,B,oli)
print(oli)

[[ 6  7]
 [26 31]]

In [93]:
arreglo_tres = np.arange(3)
print(arreglo_tres)
arreglo_tres += 3
print(arreglo_tres)

[0 1 2]
[3 4 5]

In [98]:
# Operaciones conocidas en los arreglos
arreglo_diez_elementos = np.arange(10)
print(arreglo_diez_elementos)
print(arreglo_diez_elementos.sum())
print(arreglo_diez_elementos.min())
print(arreglo_diez_elementos.max())

[0 1 2 3 4 5 6 7 8 9]
45
0
9

In [102]:
arreglo_tres_cuatro = np.arange(12).reshape(3,4)
print(arreglo_tres_cuatro)
print(arreglo_tres_cuatro.sum(axis=0)) # X
print(arreglo_tres_cuatro.sum(axis=1)) # Y

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
[12 15 18 21]
[ 6 22 38]

# Universal Functions
## Radianes

In [108]:
angulos_cero_noventa = np.array([0,30,45,60,90])
print(angulos_cero_noventa)
angulos_cero_noventa_radianes = angulos_cero_noventa * np.pi/180
print(angulos_cero_noventa_radianes)
print(np.pi)

[ 0 30 45 60 90]
[0.         0.52359878 0.78539816 1.04719755 1.57079633]
3.141592653589793

In [109]:
# Funcion seno
print(np.sin(angulos_cero_noventa))

[ 0.         -0.98803162  0.85090352 -0.30481062  0.89399666]

In [110]:
# Funcion coseno
print(np.cos(angulos_cero_noventa))

[ 1.          0.15425145  0.52532199 -0.95241298 -0.44807362]

In [111]:
# Funcion tangente
print(np.tan(angulos_cero_noventa))

[ 0.         -6.4053312   1.61977519  0.32004039 -1.99520041]

In [124]:
# Media
arreglo_diez = np.random.rand(30)*10
print(arreglo_diez)
print(np.mean(arreglo_diez))

[8.83973736 6.75592639 1.15845086 1.10872111 3.22035357 9.11484448
 7.73072025 8.22809579 6.69768739 2.27460716 7.3470849  2.46058834
 8.12660114 7.74294219 1.61850203 5.21166999 5.16554842 4.6671159
 7.50734446 1.46568925 8.1426097  9.6938384  3.78701873 7.44791004
 4.60341812 4.84708205 8.44585179 0.68933551 8.68680561 6.44285149]
5.640965080588626

In [125]:
# Media
print(arreglo_diez)
print(np.median(arreglo_diez))

[8.83973736 6.75592639 1.15845086 1.10872111 3.22035357 9.11484448
 7.73072025 8.22809579 6.69768739 2.27460716 7.3470849  2.46058834
 8.12660114 7.74294219 1.61850203 5.21166999 5.16554842 4.6671159
 7.50734446 1.46568925 8.1426097  9.6938384  3.78701873 7.44791004
 4.60341812 4.84708205 8.44585179 0.68933551 8.68680561 6.44285149]
6.570269437885919

In [126]:
# Desviacion Estandar
print(arreglo_diez)
print(np.std(arreglo_diez))

[8.83973736 6.75592639 1.15845086 1.10872111 3.22035357 9.11484448
 7.73072025 8.22809579 6.69768739 2.27460716 7.3470849  2.46058834
 8.12660114 7.74294219 1.61850203 5.21166999 5.16554842 4.6671159
 7.50734446 1.46568925 8.1426097  9.6938384  3.78701873 7.44791004
 4.60341812 4.84708205 8.44585179 0.68933551 8.68680561 6.44285149]
2.762985476713553

In [127]:
# Varianza
print(arreglo_diez)
print(np.var(arreglo_diez))

[8.83973736 6.75592639 1.15845086 1.10872111 3.22035357 9.11484448
 7.73072025 8.22809579 6.69768739 2.27460716 7.3470849  2.46058834
 8.12660114 7.74294219 1.61850203 5.21166999 5.16554842 4.6671159
 7.50734446 1.46568925 8.1426097  9.6938384  3.78701873 7.44791004
 4.60341812 4.84708205 8.44585179 0.68933551 8.68680561 6.44285149]
7.634088744530019

In [132]:
# salarios
salarios = np.genfromtxt('data/salarios.csv', delimiter=',')
print(salarios)
print(salarios.shape)

[[ 1.  3.  4.  2.  5.  4.  3. 10. 20. 14. 12. 13. 15. 16. 14.]
 [ 1.  3.  4.  2.  5.  4.  3. 10. 20. 14. 12. 13. 15. 16. 14.]
 [ 1.  3.  4.  2.  5.  4.  3. 10. 20. 14. 12. 13. 15. 16. 14.]
 [ 1.  3.  4.  2.  5.  4.  3. 10. 20. 14. 12. 13. 15. 16. 14.]
 [ 1.  3.  4.  2.  5.  4.  3. 10. 20. 14. 12. 13. 15. 16. 14.]
 [ 1.  3.  4.  2.  5.  4.  3. 10. 20. 14. 12. 13. 15. 16. 14.]
 [ 1.  3.  4.  2.  5.  4.  3. 10. 20. 14. 12. 13. 15. 16. 14.]
 [ 1.  3.  4.  2.  5.  4.  3. 10. 20. 14. 12. 13. 15. 16. 14.]
 [ 1.  3.  4.  2.  5.  4.  3. 10. 20. 14. 12. 13. 15. 16. 14.]
 [ 1.  3.  4.  2.  5.  4.  3. 10. 20. 14. 12. 13. 15. 16. 14.]
 [ 1.  3.  4.  2.  5.  4.  3. 10. 20. 14. 12. 13. 15. 16. 14.]]
(11, 15)

In [148]:
# Slice and Dice
arreglo_once_cuadrado = np.arange(11)**2
print(arreglo_once_cuadrado)
print(arreglo_once_cuadrado[0])
print(arreglo_once_cuadrado[0:3])
print(arreglo_once_cuadrado[-3])
print(arreglo_once_cuadrado[2:-3])
print(arreglo_once_cuadrado[-8:-1])
print(arreglo_once_cuadrado[1:])
print(arreglo_once_cuadrado[:5])
print(arreglo_once_cuadrado[2:8])
print(arreglo_once_cuadrado[2:8:4])
print(arreglo_once_cuadrado[:10:2])
print(arreglo_once_cuadrado[::-1])

[  0   1   4   9  16  25  36  49  64  81 100]
0
[0 1 4]
64
[ 4  9 16 25 36 49]
[ 9 16 25 36 49 64 81]
[  1   4   9  16  25  36  49  64  81 100]
[ 0  1  4  9 16]
[ 4  9 16 25 36 49]
[ 4 36]
[ 0  4 16 36 64]
[100  81  64  49  36  25  16   9   4   1   0]

# Arange
Tenemos un arreglo de 10 elementos y queremos ahcer alguna cosa

In [6]:


estudiantes = np.array([['Adrian','Carlos','Vicente','Felipe'],
                       [1,2,3,4],
                       [6.5,7.5,8,9]
                      ]
                      )

In [7]:
estudiantes

array([['Adrian', 'Carlos', 'Vicente', 'Felipe'],
       ['1', '2', '3', '4'],
       ['6.5', '7.5', '8', '9']], dtype='<U7')

In [8]:
estudiantes.shape

(3, 4)

In [9]:
for estudiante in estudiantes:
    print(estudiante)  # Dimensiones

['Adrian' 'Carlos' 'Vicente' 'Felipe']
['1' '2' '3' '4']
['6.5' '7.5' '8' '9']

In [10]:
for estudiante in estudiantes.flatten():
    print(estudiante)  # 1-D

Adrian
Carlos
Vicente
Felipe
1
2
3
4
6.5
7.5
8
9

In [11]:
for estudiante in estudiantes.flatten(order='F'):
    print(estudiante)  # 1-D

Adrian
1
6.5
Carlos
2
7.5
Vicente
3
8
Felipe
4
9

In [12]:
arreglo_tres_cuatro = np.arange(12).reshape(3,4)
arreglo_tres_cuatro

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [14]:
# nditer
for i in np.nditer(arreglo_tres_cuatro):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [17]:
# nditer
for i in np.nditer(arreglo_tres_cuatro, order="F", op_flags=['readwrite']):
    print(i)
    i[...] = i*i
    print(i)

0
0
4
16
8
64
1
1
5
25
9
81
2
4
6
36
10
100
3
9
7
49
11
121

In [23]:
# Reshaping
paises_tuplas = np.array([('Ecuador','Colombia','Peru','Brazil'),
                          ('Mexico','Guatemala','Honduras','Venezuela')])

In [19]:
paises_tuplas

array([['Ecuador', 'Colombia', 'Peru', 'Brazil'],
       ['Mexico', 'Guatemala', 'Honduras', 'Venezuela']], dtype='<U9')

In [21]:
paises_tuplas[0][0] = 'Estados Unidos'

In [24]:
paises_tuplas[0][0]

'Ecuador'

In [25]:
paises_tuplas.shape

(2, 4)

In [26]:
paises_tuplas.flatten()

array(['Ecuador', 'Colombia', 'Peru', 'Brazil', 'Mexico', 'Guatemala',
       'Honduras', 'Venezuela'], dtype='<U9')

In [27]:
paises_tuplas.flatten().shape

(8,)

In [28]:
paises_tuplas

array([['Ecuador', 'Colombia', 'Peru', 'Brazil'],
       ['Mexico', 'Guatemala', 'Honduras', 'Venezuela']], dtype='<U9')

In [29]:
paises_tuplas.T

array([['Ecuador', 'Mexico'],
       ['Colombia', 'Guatemala'],
       ['Peru', 'Honduras'],
       ['Brazil', 'Venezuela']], dtype='<U9')

In [30]:
paises_tuplas.T.flatten()

array(['Ecuador', 'Mexico', 'Colombia', 'Guatemala', 'Peru', 'Honduras',
       'Brazil', 'Venezuela'], dtype='<U9')

In [36]:
paises_tuplas

array([['Ecuador', 'Colombia', 'Peru', 'Brazil'],
       ['Mexico', 'Guatemala', 'Honduras', 'Venezuela']], dtype='<U9')

In [37]:
paises_tuplas.reshape(4,2)

array([['Ecuador', 'Colombia'],
       ['Peru', 'Brazil'],
       ['Mexico', 'Guatemala'],
       ['Honduras', 'Venezuela']], dtype='<U9')

In [42]:
paises = np.array(['Ecuador',
                   'Colombia',
                   'Peru',
                   'Brazil',
                   'Mexico',
                   'Guatemala',
                   'Honduras',
                   'Venezuela',
                   'Argentina',
                   'Chile',
                   'Bolivia',
                   'Alemania'])

In [44]:
paises.reshape(3,-1,2)  #  9    9 = X * 3    X = 9/3 = 3

array([[['Ecuador', 'Colombia'],
        ['Peru', 'Brazil']],

       [['Mexico', 'Guatemala'],
        ['Honduras', 'Venezuela']],

       [['Argentina', 'Chile'],
        ['Bolivia', 'Alemania']]], dtype='<U9')

In [ ]:
# Split

In [51]:
arreglo_split = np.arange(1,13)

In [54]:
arreglo_split.shape

(12,)

In [52]:
np.split(arreglo_split,[2,3,5,7,8])

[array([1, 2, 3, 4, 5, 6]), array([ 7,  8,  9, 10, 11, 12])]

In [63]:
array_split_4_partes = np.array(array_split_4_partes)

In [66]:
array_split_4_partes.shape

(5,)

In [67]:
paises = np.array(['Ecuador',
                   'Colombia',
                   'Peru',
                   'Brazil',
                   'Mexico',
                   'Guatemala'])

In [69]:
np.hsplit(paises,2)

[array(['Ecuador', 'Colombia', 'Peru'], dtype='<U9'),
 array(['Brazil', 'Mexico', 'Guatemala'], dtype='<U9')]

In [70]:
np.split(paises,2)

[array(['Ecuador', 'Colombia', 'Peru'], dtype='<U9'),
 array(['Brazil', 'Mexico', 'Guatemala'], dtype='<U9')]

In [74]:
paises_2d = np.array([['Ecuador',
                   'Colombia',
                   'Peru'], 
                   ['Brazil',
                   'Mexico',
                   'Guatemala']])

In [76]:
print(paises_2d.shape)
np.vsplit(paises_2d,2)

(2, 3)

[array([['Ecuador', 'Colombia', 'Peru']], dtype='<U9'),
 array([['Brazil', 'Mexico', 'Guatemala']], dtype='<U9')]

In [78]:
np.hsplit(paises_2d,3)

[array([['Ecuador'],
        ['Brazil']], dtype='<U9'), array([['Colombia'],
        ['Mexico']], dtype='<U9'), array([['Peru'],
        ['Guatemala']], dtype='<U9')]